<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VersionManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <VersionManagement.Properties.Settings>
        <setting name="FirmwareDatabaseVersion" serializeAs="String">
            <value>102</value>
        </setting>
        <setting name="DatabaseVersion" serializeAs="String">
          <value>101</value>
        </setting>
        <setting name="ServerName" serializeAs="String">
            <value>chva0012</value>
        </setting>
        <setting name="DatabaseName" serializeAs="String">
            <value>SoftwareVersionsDatabase</value>
        </setting>
    </VersionManagement.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="SoftwareVersionsDatabaseContext" connectionString="metadata=res://*/Model.SoftwareVersionsDatabaseContext.csdl|res://*/Model.SoftwareVersionsDatabaseContext.ssdl|res://*/Model.SoftwareVersionsDatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N4UJ39P\ANDREAS_DATABASE;initial catalog=SoftwareVersionsDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>